<div class="sidenav-toolbar" fxLayout="row" fxLayoutGap="16px">
    <mat-icon>cake</mat-icon>
    <span>Fitness Tracker</span>
</div>
<mat-nav-list fxLayout="column">
    <a mat-list-item routerLink="/" (click)="onSidenavToggle()" routerLinkActive="active">
        <div fxLayout fxLayoutAlign="start center" fxLayoutGap="16px">
            <mat-icon>cottage</mat-icon>
            <span>Welcome</span>
        </div>
    </a>
    <a *ngIf="!(isAuth$ | async)" mat-list-item routerLink="/signup" (click)="onSidenavToggle()" routerLinkActive="active">
        <div fxLayout fxLayoutAlign="start center" fxLayoutGap="16px">
            <mat-icon>password</mat-icon>
            <span>Signup</span>
        </div>
    </a>
    <a *ngIf="!(isAuth$ | async)" mat-list-item routerLink="/login" (click)="onSidenavToggle()" routerLinkActive="active">
        <div fxLayout fxLayoutAlign="start center" fxLayoutGap="16px">
            <mat-icon>login</mat-icon>
            <span>Login</span>
        </div>
    </a>
    <a *ngIf="isAuth$ | async" mat-list-item routerLink="/training" (click)="onSidenavToggle()" routerLinkActive="active">
        <div fxLayout fxLayoutAlign="start center" fxLayoutGap="16px">
            <mat-icon>fitness_center</mat-icon>
            <span>Training</span>
        </div>
    </a>

    <a *ngIf="isAuth$ | async" (click)="onLogout()" mat-list-item>
        <div fxLayout fxLayoutAlign="start center" fxLayoutGap="16px">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </div>
    </a>
</mat-nav-list>
