<section class="login-form">
    <form
        fxLayout="column"
        fxLayoutGap="16px"
        #loginForm="ngForm"
        (ngSubmit)="onSubmit(loginForm)"
    >
        <mat-form-field appearance="fill">
            <mat-label>Your Email</mat-label>
            <input
                matInput
                type="email"
                ngModel
                name="email"
                required
                email
                #emailInput="ngModel"
            />
            <mat-error *ngIf="emailInput.hasError('required')"
                >Please enter your email.</mat-error
            >
            <mat-error>E-mail must be valid.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Your Password</mat-label>
            <input
                matInput
                type="password"
                ngModel
                name="password"
                required
                #psInput="ngModel"
            />
            <mat-error>Password is required.</mat-error>
        </mat-form-field>
        <div fxLayout="row">
            <div fxFlex></div>
            <button
                type="submit"
                mat-stroked-button
                [disabled]="loginForm.invalid || (isLoading$ | async)"
            >
                Login
            </button>
        </div>
    </form>
</section>
