.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}

mat-sidenav {
    width: 300px;
}

.loading-container {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 999999;
    top: calc(50% - 100px);
    left: 50%;
}